@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #F5F0DB;
  background: #001022;
  background: linear-gradient(180deg, rgba(0,16,34,1) 4%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
}

.gradient {
  background: linear-gradient(0deg, #00A4CC, #00D2B2);
}

.shadoww {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
}